*
{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-weight: bold;
  text-decoration: none;
}
body
{
  background-image: url("/Images/Bild.png");
  background-size: cover;
  background-repeat: no-repeat;
}
a.Main
{
  color: white;
  position: relative;
  top: 13.75em;
  left: 17em;
  padding-left: 0.25em;
  padding-right: 0.5em;
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin: -0.5em;
  opacity: 0;
  font-size: 3.5em;
}
a.Main:hover
{
  background-color: #194fee;
  opacity: 1;
}
